<h1>Your household</h1>
 <% @households.each do |household| %>
  <% household.users.each do |user| %>
  <div><%=user.name%></div>
  <a href="/households/<%= user.id %>">More info</a>
  <% end %>
<% end %>