
<h1>Households</h1>
<% @households.each do |household| %>
  <h2><%= household.name %></a></h2>
  <a href="/households/<%= household.id %>">More info</a>
<% end %>
<br>
<br>
<a href="/households/new">New household</a>
</body>
</html>