<h1>Your household</h1>

<% @household.users.each do |user| %>
    <div><%=user.name %></div>
  <%end%>
<br>
<a href="/households/<%= @household.id %>/edit">Edit household</a>
<br>
<a href="/households/<%= @household.id %>" data-turbo-method="delete">Destroy household</a>

