<h1>Roommate Requests</h1>
<h2><%= @user.name %></h2>
<p>Items wanted:</p>
  <% @user.items.each do |item| %>
    <li><%= item.item_name %> : <%= item.quantity %></li>
  <% end %>
<a href="/households">Back to your household</a>
<a href="/items/new">New item</a>